html,
body {
  background-color: #24221F;
  color: #F7F7F7;
}

.content {
  margin: auto;
  max-width: 1440px;
  padding: 25px 15px;
}

a {
  color: #F7F7F7;
  transition: 0.3s;
}
a:hover {
  color: #FEB41C;
  transition: 0.3s;
}

.go-down {
  position: absolute;
  right: 15%;
  bottom: 10%;
}

.title {
  font-size: 4.5vw;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.5vw;
  letter-spacing: 4px;
}

.img-bg {
  position: absolute;
  z-index: -1;
}

.c-arrow {
  height: 50px;
  width: 30px;
  background: none;
  border: none;
  transition: 0.3s;
}
.c-arrow:focus {
  outline: none;
}
.c-arrow:hover .c-arrow-inner {
  background: #FEB41C;
  height: 60px;
  transition: 0.3s;
}
.c-arrow:hover .c-arrow-inner:after, .c-arrow:hover .c-arrow-inner:before {
  height: 18px;
  background: #FEB41C;
  transition: 0.3s;
}

.c-arrow-inner {
  height: 50px;
  width: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.3s;
}
.c-arrow-inner:after {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: translate(0) rotate(-45deg);
  transform: translate(0) rotate(-45deg);
}
.c-arrow-inner:before {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: translate(0) rotate(45deg);
  transform: translate(0) rotate(45deg);
}
.c-arrow-inner:after, .c-arrow-inner:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 13px;
  background: #fff;
  transition: 0.3s;
}

/****************/
/*****Select*****/
/****************/
::-moz-selection {
  /* Code for Firefox */
  color: #F7F7F7;
  background: #FEB41C;
}

::selection {
  color: #F7F7F7;
  background: #FEB41C;
}

html {
  cursor: none;
}

a {
  cursor: none;
}
a:hover {
  cursor: none;
}

.g-cursor_hide {
  opacity: 0;
  width: 60px;
  height: 60px;
  transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}
.g-cursor__circle {
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #FEB41C;
  border-radius: 100%;
  z-index: 5555;
  backface-visibility: hidden;
  transition: opacity 0.6s ease;
}
.g-cursor__point {
  top: 0;
  left: 0;
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  user-select: none;
  border-radius: 100%;
  background: #FEB41C;
  z-index: 55555555;
  backface-visibility: hidden;
  will-change: transform;
}
.g-cursor_hover .g-cursor__circle {
  opacity: 0;
  width: 60px;
  height: 60px;
  transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}

header {
  height: 90vh;
  display: flex;
  align-items: center;
}
header .title-header {
  font-size: 10vw;
  margin-top: auto;
  text-size-adjust: auto;
  text-transform: uppercase;
}
header .title-header span {
  position: relative;
  z-index: 1;
}
header .title-header span:before {
  content: "";
  background-color: #FEB41C;
  width: 550px;
  height: 100%;
  position: absolute;
  left: -5%;
  top: -10%;
  z-index: -1;
}
header .subtitle-header {
  font-size: 18px;
  font-weight: normal;
  line-height: 3;
  max-width: 450px;
  position: absolute;
  bottom: 15%;
  left: 12%;
}

#about-me {
  background: #F7F7F7;
  color: #24221F;
  position: relative;
  z-index: 1;
}
#about-me .subtitle {
  color: #FEB41C;
}
#about-me .img-bg {
  top: 0;
  right: 10%;
}
#about-me img {
  max-width: 600px;
}
#about-me p.subtitle {
  max-width: 750px;
}
#about-me p.content-text {
  max-width: 550px;
}

.navbar {
  display: flex;
}
.navbar .navbar-brand {
  font-size: 24px;
}
.navbar .navbar-brand .navbar-item {
  text-decoration: none;
}
.navbar .navbar-menu {
  margin-left: auto;
}
.navbar .navbar-menu .navbar-item {
  margin: auto 15px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
