.c-arrow {
  height: 50px;
  width: 30px;
  background: none;
  border: none;
  transition: .3s;
  &:focus {
    outline: none;
  }
  &:hover {
    .c-arrow-inner {
      background: $primary;
      height: 60px;
      transition: .3s;
      &:after,
      &:before {
        height: 18px;
        background: $primary;
        transition: .3s;
      }
    }
  }
}

.c-arrow-inner {
  height: 50px;
  width: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: .3s;

  &:after {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate(0) rotate(-45deg);
    transform: translate(0) rotate(-45deg);
  }

  &:before {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate(0) rotate(45deg);
    transform: translate(0) rotate(45deg);
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 13px;
    background: #fff;
    transition: .3s;
  }
}
