.navbar {
  display: flex;
  .navbar-brand {
    font-size: 24px;
    .navbar-item {
      text-decoration: none;
    }
  }
  .navbar-menu {
    margin-left: auto;
    .navbar-item {
      margin: auto 15px;
      text-decoration: none;
    }
  }
}
