@media screen and (max-width: 1440px){
  .content {
    margin: auto;
    max-width: 80%;
    padding: 25px 15px;
  }

  #about-me {
    .content-about {
      height: auto;
    }
  }
}

@media screen and (max-width: 981px){
  #about-me {
    display: block;
    .content-about {
      margin-left: 17%;
      width: calc(100% - 17%);
      .about-me-content-block {
        margin-right: 17%;
        width: calc(100% - 17%);
        .subtitle {
          width: 100%;
        }
      }
    }
    .about-me-image-block {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px){
  .g-cursor {
    display: none;
  }
  header {
    height: 85vh;
    .title-header {
      span {
        &:before {
          width: calc(100% - 120px);
        }
      }
    }
  }
  #projects {
    .content {
      padding-top: 35px;
      .list-project {
        padding: 0;
      }
    }
  }
  .projects-bloc-title,
  .about-bloc-title,
  .contact-bloc-title {
    margin: auto;
    max-width: 80%;
    position: relative;
    transform: none;
  }
  .contact-bloc-title,
  .about-bloc-title {
    left: 0;
  }

  #single-project {
    #single-project-header {
      .single-project-header-block {
        justify-content: center;
        .single-project-header-block-type {
          margin: 50px auto;
        }
      }
    }
    #single-project-body {
      .single-project-body-title {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (min-width: 511px) and (max-width: 767px){
  .projects-bloc-title,
  .about-bloc-title,
  .contact-bloc-title {
    h6 {
      font-size: 3rem;
      margin: 0 0 75px;
    }
  }

  #single-project {
    #single-project-header {
      .single-project-header-block {
        .single-project-header-block-title {
          font-size: 6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 510px){
  header {
    align-items: flex-start;
    height: auto;
    .content {
      margin: 25% auto 70%;
      max-width: 100%;
    }
    .title-header {
      font-size: 2.2rem;
    }
    .subtitle-header {
      bottom: 15%;
      left: 10%;
      right: 10%;
      margin: auto;
      max-width: 100%;
      width: auto;
    }
  }
  .projects-bloc-title,
  .about-bloc-title,
  .contact-bloc-title {
    h6 {
      font-size: 1.4rem;
      margin: 0 0 75px;
    }
  }
  #projects {
    .list-project {
      .item-project {
        .projects-item-title {
          font-size: 2rem;
          max-width: 100%;
        }
      }
    }
  }
  #about-me {
    .content-about {
      .about-me-content-block {
        .subtitle {
          font-size: 1.2rem;
        }
      }
    }
    .img-bg {
      img {
        width: 100%;
      }
    }
  }
  #single-project {
    #single-project-header {
      .single-project-header-block {
        justify-content: center;
        .single-project-header-block-title {
          font-size: 4rem;
        }
      }
    }
  }
}
