header {
  height: 90vh;
  display: flex;
  align-items: center;
  .title-header {
    font-size: 10vw;
    font-family: $noto;
    letter-spacing: 8px;
    margin-top: auto;
    text-size-adjust: auto;
    text-transform: uppercase;
    span {
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        background-color: $primary;
        width: 550px;
        height: 100%;
        position: absolute;
        left: -5%;
        top: -10%;
        z-index: -1;
      }
    }
  }
  .subtitle-header {
    font-size: 18px;
    font-weight: normal;
    line-height: 3;
    max-width: 450px;
    position: absolute;
    bottom: 15%;
    left: 12%;
  }
}

#about-me {
  background: $light;
  color: $dark;
  position: relative;
  z-index: 1;
  .content {
    margin: 4rem auto;
    padding: 0;
    .content-about {
      height: 100vh;
      .subtitle {
        color: $primary;
        a {
          color: #FEB41C;
        }
      }
      p {
        &.subtitle {
          max-width: 750px;
        }
        &.content-text {
          max-width: 750px;
        }
      }
    }
  }
  .img-bg {
    display: flex;
    bottom: 0;
    top: 0;
    right: 0;
    background: $dark-light;
    padding: 10%;
    img {
      margin: auto;
      max-width: 400px;
    }
  }
}
