header {
  height: 100vh;
  display: flex;
  align-items: center;
  .title-header {
    font-size: 10vw;
    font-family: $ibm;
    letter-spacing: 8px;
    margin-top: auto;
    text-size-adjust: auto;
    text-transform: uppercase;
    span {
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        background-color: $primary;
        width: 550px;
        height: 100%;
        position: absolute;
        left: -5%;
        top: -10%;
        z-index: -1;
      }
    }
  }
  .subtitle-header {
    font-size: 18px;
    font-weight: normal;
    line-height: 2.2;
    max-width: 450px;
    position: absolute;
    bottom: 12.5%;
    left: 12%;
  }
}

#projects {
  position: relative;
  .list-project {
    .item-project {
      display: block;
      margin: 20px auto;
      list-style: none;
      a {
        text-decoration: none;
        &:hover {
          .projects-item-title {
            color: $primary;
            transition: .4s;
          }
          .projects-item-line {
            &:before {
              background: $primary;
              -webkit-transform: scaleX(1) translateZ(0);
              transform: scaleX(1) translateZ(0);
            }
          }
        }
      }
      .projects-item-title {
        color: $secondary;
        display: table-cell;
        font-size: 4vw;
        text-transform: uppercase;
        transition: .4s;
        white-space: nowrap;
        position: relative;
      }
      .projects-item-line {
        display: table-cell;
        position: relative;
        width: 100%;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 20px;
          width: calc(100% - 20px);
          height: 15px;
          margin-top: -5px;
          background: $secondary;
          opacity: 1;
          -webkit-transform-origin: left;
          transform-origin: left;
          -webkit-transform: scaleX(0) translateZ(0);
          transform: scaleX(0) translateZ(0);
          -webkit-transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.8s cubic-bezier(.165,.84,.44,1);
          transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.8s cubic-bezier(.165,.84,.44,1);
          transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),transform 1.8s cubic-bezier(.165,.84,.44,1);
          transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),transform 1.8s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.8s cubic-bezier(.165,.84,.44,1);
        }
      }
    }
  }
}

#about-me {
  background: $light;
  color: $dark;
  position: relative;
  z-index: 1;
  .content {
    margin: 4rem auto;
    padding: 0;
    .content-about {
      height: 100vh;
      .subtitle {
        color: $primary;
        a {
          color: #FEB41C;
        }
      }
      div {
        margin-bottom: 45px;
        &.subtitle {
          max-width: 850px;
        }
      }
      p {
        &.content-text {
          max-width: 750px;
        }
      }
    }
  }
  .img-bg {
    display: flex;
    bottom: 0;
    top: 0;
    right: 0;
    background: $dark-light;
    padding: 10%;
    img {
      margin: auto;
      max-width: 400px;
    }
  }
  .tome-number {
    .m-number {
      display: block;
      font-size: 42px;
      margin-top: 20px;
    }
  }
}
