header {
  height: 100vh;
  display: flex;
  align-items: center;
  .title-header {
    font-size: 10vw;
    font-family: $ibm;
    letter-spacing: 8px;
    margin-top: auto;
    text-size-adjust: auto;
    text-transform: uppercase;
    span {
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        background-color: $primary;
        width: 550px;
        height: 100%;
        position: absolute;
        left: -5%;
        top: -10%;
        z-index: -1;
      }
    }
  }
  .subtitle-header {
    font-size: 18px;
    font-weight: normal;
    line-height: 2.2;
    max-width: 450px;
    position: absolute;
    bottom: 12.5%;
    left: 12%;
  }
}

#projects {
  position: relative;
  .content {
    padding: 65px 15px;
  }
  .list-project {
    .item-project {
      display: block;
      margin: 20px auto;
      list-style: none;
      a {
        display: block;
        &:hover {
          .projects-item-title {
            color: $primary;
            transition: .4s;
          }
          .projects-item-line {
            &:before {
              background: $primary;
              -webkit-transform: scaleX(1) translateZ(0);
              transform: scaleX(1) translateZ(0);
            }
          }
        }
      }
      .projects-item-title {
        color: $secondary;
        display: table-cell;
        font-size: 5vw;
        text-transform: uppercase;
        transition: .4s;
        white-space: nowrap;
        position: relative;
      }
      .projects-item-line {
        display: table-cell;
        position: relative;
        width: 100%;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 20px;
          width: calc(100% - 20px);
          height: 15px;
          margin-top: -5px;
          background: $secondary;
          opacity: 1;
          -webkit-transform-origin: left;
          transform-origin: left;
          -webkit-transform: scaleX(0) translateZ(0);
          transform: scaleX(0) translateZ(0);
          -webkit-transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.8s cubic-bezier(.165,.84,.44,1);
          transition: opacity 1.8s cubic-bezier(.165,.84,.44,1),transform 1.8s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.8s cubic-bezier(.165,.84,.44,1);
        }
      }
    }
  }
}

#about-me {
  background: $light;
  color: $dark;
  position: relative;
  z-index: 1;
  .content-about {
    padding: 75px 0;
    width: calc(50% - 11%);
    margin-left: 11%;
    .about-me-content-block {
      width: 70%;
      .subtitle {
        font-size: 2.5vw;
        width: 140%;
      }
    }
    .subtitle {
      color: $primary;
      a {
        color: #FEB41C;
      }
    }
    div {
      &.subtitle {
        max-width: 850px;
      }
    }
    p {
      &.content-text {
        max-width: 750px;
      }
    }
  }
  .about-me-image-block {
    align-items: center;
    background: $dark-light;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .img-bg {
    padding: 10%;
    img {
      margin: auto;
      max-width: 400px;
    }
  }
  .tome-number {
    .m-number {
      display: block;
      font-family: $ibm;
      font-size: 42px;
      margin-top: 20px;
    }
  }
}

#contact {
  position: relative;
  .content {
    margin: auto;
    max-width: 450px;
    padding: 65px 15px;
    .contact-content {
      h2 {
        font-family: $ibm;
        letter-spacing: 4px;
        .link-underline {
          display: inline-block;
          position: relative;
          z-index: 1;
          &:before {
            bottom: 5px;
            height: 15px;
            width: 100%;
          }
        }
      }
      .row {
        margin-top: 50px;
        .contact-content-site {
          position: relative;
          z-index: 1;
          .contact-content-site-block {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 1.3rem;
            padding-right: 25px;
            text-transform: uppercase;
            .fab {
              width: .6rem;
              grid-row: 1/span 2;
            }
            h4 {
              margin-block-start: 0;
              margin-block-end: 0;
              &:before {
                content: '';
                background: $secondary;
                height: 15px;
                width: calc(100% - 40px);
                position: absolute;
                top: 10px;
                margin-bottom: -5px;
                margin-left: -10px;
                -webkit-transform-origin: left;
                transform-origin: left;
                -webkit-transform: scaleX(0) translateZ(0);
                transform: scaleX(0) translateZ(0);
                -webkit-transition: opacity .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
                transition: opacity .8s cubic-bezier(.165,.84,.44,1),transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
                z-index: -1;
              }
            }
            p {
              color: $secondary;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -.014em;
              line-height: 1.3;
              text-transform: initial;
              margin-block-start: 10px;
              margin-block-end: 40px;
            }
            &:hover {
              h4 {
                &:before {
                  -webkit-transform: scaleX(1) translateZ(0);
                  transform: scaleX(1) translateZ(0);
                }
              }
            }
          }
        }
      }
    }
  }
}

.projects-bloc-title,
.about-bloc-title,
.contact-bloc-title {
  position: absolute;
  left: 0;
  top: 90px;
  transform: rotate(-90deg);
  h6 {
    color: $secondary;
    font-size: 15px;
    letter-spacing: 6px;
  }
}

.about-bloc-title {
  left: -30px;
  h6 {
    color: $dark;
  }
}

.contact-bloc-title {
  left: 22px;
}
